body {
  background-color: burlywood;
}
h1 {
  color: blue;
}
p {
  color: red;
}
#top-left {
  position: absolute;
  top: 5;
  left: 15px;
}
#top-left p:nth-child(2) {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 120%;
}
#bottom-left {
  position: absolute;
  bottom: 225px;
  left: 15px;
  width: 120%;

}
#bottom-left p:nth-child(2) {
  position: absolute;
  top: 35px;
  left: 15px;
  width:250px
}
#middle {
  position: absolute;
  top: 100px;
  left: 560px;
}
#middleText{
  position: absolute;
  top: 150px;
  left: 475px;
  width: 40%;
}
#bottomMiddle {
  position: absolute;
  top: 650px;
  left: 575px;
}

#top-right {
  position: absolute;
  top: 5;
  right: 80px;
}
#top-right p:nth-child(2) {
  position: absolute;
  top: 75px;
  left: 5px;
  width: 120%;
}
#bottomMiddleLeft {
  position: absolute;
  top: 500px;
  left: 315px;
}